* {
  /* border: 1px solid lightcoral; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  font-family: "Urbanist", sans-serif;
}

:root {
  --primary: #1f1f2f;
  --secondary: #4c495f;
  --secondary: #4c495f;
  --tertiary: #4c495f;
  --hover: #87839f;
  --player: #15151c;
  --text: #cbcccd;
  --possible-1: #494552;
}
body {
  background-color: var(--primary);
}
header {
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.gameboard {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  height: 330px;
}

.game-cell {
  margin: 5px;
  height: 100px;
  width: 100px;
  font-size: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 30px;
  background-color: var(--secondary);
  transition: 0.2s;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
.game-cell:hover {
  transform: scale(1.05);
  transition: 0.2s;
  background-color: var(--hover);
}

.player,
.reset-btn {
  border-radius: 25px;
  background-color: var(--secondary);
}
.players {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  height: 35px;
  line-height: 35px;
  gap: 120px;
}
h3 {
  height: 35px;
  text-align: center;
}
.player {
  width: 100px;
  height: 35px;
}
.reset {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.reset-btn {
  width: 90px;
  height: 35px;
  line-height: 35px;
}
