* {
  /* border: 1px solid lightcoral; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  font-family: "Urbanist", sans-serif;
}

:root {
  --primary: #1f1f2f;
  --secondary: #4c495f;
  --secondary: #4c495f;
  --tertiary: #4c495f;
  --hover: #87839f;
  --player: #15151c;
  --text: #dcd7e2;
  --marker: #f59972;
  --marker2: #d877aa;
  --shadow: 0, 0, 0;
}

body {
  background-color: var(--primary);
}
header {
  font-size: 24px;
  height: 100px;
  line-height: 100px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text);
  background-image: linear-gradient(to right, var(--marker) 30%, var(--marker2) 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h1 {
  margin-left: 8px;
}
header,
.game-cell,
.player,
.reset-btn,
.orange,
.pink {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
.gameboard {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  height: 330px;
}

.game-cell {
  margin: 5px;
  height: 100px;
  width: 100px;
  font-size: 80px;
  line-height: 100px;
  text-align: center;
  border-radius: 30px;
  background-color: var(--secondary);
  color: var(--text);
  /* prettier-ignore */
  box-shadow: 0 1px 1px rgba(var(--shadow), 0.15),
              0 2px 2px rgba(var(--shadow), 0.15),
              0 4px 4px rgba(var(--shadow), 0.15), 
              0 8px 8px rgba(var(--shadow), 0.15);
  transition: 0.2s;
}
.game-cell:hover {
  transform: scale(1.05);
  transition: 0.2s;
  background-color: var(--hover);
}

.player,
.reset-btn {
  background-color: var(--secondary);
  /* prettier-ignore */
  box-shadow: 0 1px 1px rgba(var(--shadow), 0.15),
              0 2px 2px rgba(var(--shadow), 0.15),
              0 4px 4px rgba(var(--shadow), 0.15), 
              0 8px 8px rgba(var(--shadow), 0.15);
}
.players {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  height: 35px;
  line-height: 35px;
  gap: 10px;
}
h3 {
  height: 35px;
  text-align: center;
  color: var(--text);
}
.player {
  width: 110px;
  height: 35px;
}
.one {
  border-radius: 5px 25px 5px 25px;
}
.two {
  border-radius: 25px 5px 25px 5px;
}

.material-icons.md-36 {
  font-size: 40px;
}
.pink {
  visibility: hidden;
  color: var(--marker2);
  margin-right: -10px;
  transform: scale(0.5);
}
.orange {
  color: var(--marker);
  margin-left: -10px;
  transform: scale(0.5);
}
.marker-an {
  transform: scale(1.3);
  transition: 0.4s;
}
.reset {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.reset-btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  transition: 0.2s;
  color: var(--primary);
  background-image: linear-gradient(
    to right,
    var(--marker) 0%,
    var(--marker2) 51%,
    var(--marker) 100%
  );
  background-size: 200% auto;
}
.reset-btn:hover {
  transform: scale(1.05);
  transition: 0.3s;
  background-position: right center;

  /* background-position: right center; */
}
.reset-btn:active {
  transform: scale(0.97);
  background-position: right center;
}
